

.q_icon_with_title.tiny .icon_holder img{
width: 45px;
}
@media only screen and (max-width: 768px) {
.header_bottom_right_widget_holder {
text-align: center;
    display: block !important;
    margin: 93px 93px 0 0;}
}
.q_icon_with_title .icon_text_inner p{
margin-top: 10px;
}

.qode_clients .qode_client_holder_inner:before,
.qode_clients .qode_client_holder_inner:after{
display: none;
}

.footer_top h5{
margin-bottom: 10px;
}

.q_icon_list{
margin-bottom: 5px;
}

.qodef-footer-bottom-right h4,
.qodef-footer-bottom-right p{
display: inline-block;
vertical-align: middle;
}
.q_team .q_team_image{
text-align: center;
}
.q_team .q_team_image img{
width: auto;
}